:root {
	--font: monospace;
}
body {
	background-color: #1d1d1d;
	overflow: hidden;
	margin: 0px;
	z-index: 0;
}
#menu {
	display: flex;
	align-items: center;
	min-height: 100vh;
}
nav {
	margin-left: clamp(1vw, 15vw, 25rem);
	position: absolute;
	gap: 35px;
	display: flex;
	flex-direction: column;
	z-index: 10;
}
nav:hover > a {
	opacity: 0.5;
}
nav:hover > a:hover {
	opacity: 1;
	animation: open 0.3s;
}
a {
	font-size: clamp(1vw, 5vw, 4rem);
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-family: var(--font);
	letter-spacing: 0.15em;
	text-decoration: none;
	transition: opacity 300ms ease;
}

@keyframes open {
	10% {letter-spacing: 0.10em;}
	100% {letter-spacing: 0.15em;}
}

.background-pattern {
	z-index: 3;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-image: radial-gradient(
		rgba(2255, 255, 255, 0.1) 9%,
		transparent 9%
	);
	background-position: 0% 0%;
	background-size: 9vmin 9vmin;
	left: 0px;
	top: 0px;
	transition: opacity 800ms ease,
	background-size 600ms ease,
	background-position 500ms ease;
}
nav:hover ~ .background-pattern {
	background-size: 8vmin 8vmin;
	opacity: 0.5;
}

#menu[data-active-index="0"] > .background-pattern {
	background-position: 0% -15%;
}
#menu[data-active-index="1"] > .background-pattern {
	background-position: 0% -30%;
}
#menu[data-active-index="2"] > .background-pattern {
	background-position: 0% -45%;
}
#menu[data-active-index="3"] > .background-pattern {
	background-position: 0% -60%;
}
#menu[data-active-index="4"] > .background-pattern {
	background-position: 0% -75%;
}
#menu[data-active-index="5"] > .background-pattern {
	background-position: 0% -90%;
}
#menu[data-active-index="6"] > .background-pattern {
	background-position: 0% -105%;
}