body {
    margin: 0;
    padding: 0;
    background-color: rgb(163, 163, 163);
}
:root {
    --font: monospace;
}
main header {
    display: block;
    width: 200px;
    height: 150px;
    float: right;
    background-color: aqua;
}
main header h1 {
    margin: 0;
    color: white;
    font-family: var(--font);
}
.big {
    color: red;
    font-family: var(--font);
    font-size: 80px;
}